*{
  font-family: Montserrat;
}
.main{
  display: flex;
  flex-direction: column;
}
.pannel-1{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
}
.image1{
  height: 500px;
  width: 600px;
}
.text1{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
  width: 600px;
  background-color:rgb(105, 168, 193);
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  padding-left: 30px;
  padding-right: 50px;
}
.pannel-2{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  color:rgb(117, 68, 159);
}
.pannel-3{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  column-gap:10px;
  width: 100%;
  padding:10px 10px 10px 10px;
}
.card{
  display: grid;
  grid-template-rows: 250px 50px;
}
.card-img{
  height: 250px;
  width: 100%;
}
.card-description{
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  cursor: pointer;
}
.card-description:hover{
  opacity: 0.7;
  transition: 0.6s;
}
.card-link{
  text-decoration: none;
  transition: 4s;
  color:rgb(128, 55, 192);
}
.footer{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  padding-top: 20px;
  font-weight: bold;
  font-size:15px;
  background-color:#100e1c;
  color: white;
  height: 250px;  
}
.footer-about{
  width: 300px;
  font-weight:normal;
  font-size: small;
  text-decoration: none;
  color: rgb(201, 198, 198);
}
@media (max-width: 600px) {
  .card {
   grid-template-rows: 150px 50px;
  }
  .card-img {
    border-radius: 5px;
    height: 150px;
  }
  .card-description{
    font-size: smaller;
  }
  .image1{
    display:none;
  }
  .text1{
    height: 400px;
    font-size:15px;
    text-align: justify;
    background-color:rgb(134, 99, 164);
  }  
  .footer{
    font-size:10px;
    justify-content: space-evenly;
  }
  .footer-about{
    font-size: 10px;
    width:200px;
  }
}



